{% extends "base.html" %}

{% block title %}首页{% endblock %}


{% block page_content %}
<div class="page-header">
    <h1>欢迎来到小站</h1>
</div>
<section class="section projects-section">
    <h2 class="section-title" style="font-size: 20px;"><span class="icon-holder"><i class="fas fa-cube"></i></span>  类目说明</h2>
    <!--<div class="intro">-->
        <!--<p></p>-->
    <!--</div>&lt;!&ndash;//intro&ndash;&gt;-->
    <div class="item">
        <span class="project-title" style="font-size: 16px"><a href="resume/">简历</a></span><p class="project-tagline">用来找工作的.</p>
    </div><!--//item-->
    <hr>
    <div class="item">
        <span class="project-title" style="font-size: 16px"><a href="novels/" target="_blank">实时小说</a></span>
        <p class="project-tagline">通过爬虫爬取特定网站的免费小说,并定时更新数据库已有的小说最新章节,可以免费查看某小说最新更新的章节. </p>
        
    </div><!--//item-->
    <hr>
    <div class="item">
        <span class="project-title"><a href="proxy/" target="_blank">随机代理</a></span><p class="project-tagline">通过爬虫爬取网络上的一些免费匿名代理来维护一个自己的代理池,可随机取一个代理或者取出所有的代理<span style="color: #999;">(免费的代理的实用性不是很高)</span>.</p>
    </div><!--//item-->
    <hr>
    <div class="item">
        <span class="project-title"><a href="cnn/" target="_blank">验证码识别</a></span><p class="project-tagline">通过TensorFlow对特定格式的验证码进行训练,然后通过模型可以对该格式的验证码进行预测结果,该模型共训练了19w+的样本量,预测准确率达到了99%.</p>
    </div><!--//item-->
</section>     
{% endblock %}