{% extends "base.html" %}

{% block title %}我的简历{% endblock %}


{% block page_content %}
<div class="page-header">
    <h1>王枫的简历</h1>
</div>

    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <div style="width: 100px;height: 100px;margin: 0 auto;">
                    <img class="profile" style="width: 100%;height: 100%;" src="{{ url_for('static', filename='profile.png') }}" alt="">
                </div>
                <h1 class="name">王枫</h1>
                <h3 class="tagline">充满好奇与热情的Python研发工程师</h3>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="phone"><i class="fas fa-info-circle"></i><span>男 / 1991 / 本科</span></li>
                    <li class="phone"><i class="fas fa-phone"></i><span>17682303763</span></li>
                    <li class="email"><i class="fas fa-envelope"></i><span>liushahedi@gmail.com</span></li>
                    <li class="website"><i class="fas fa-globe"></i><a href="http://121.40.184.36" target="_blank">121.40.184.36</a></li>
                    <li class="github"><i class="fab fa-github"></i><a href="https://github.com/AlphaFF" target="_blank">github.com/AlphaFF</a></li>
                </ul>
            </div><!--//contact-container-->
            <div class="education-container container-block">
                <h2 class="container-block-title">教育经历</h2>
                <div class="item">
                    <h4 class="degree">中国地质大学</h4>
                    <h5 class="meta">工业设计</h5>
                    <div class="time">2010 - 2014</div>
                </div><!--//item-->
            </div><!--//education-container-->
            
            <div class="languages-container container-block">
                <h2 class="container-block-title">求职意向</h2>
                <ul class="list-unstyled interests-list">
                    <li>Python研发工程师<span class="lang-desc">(全职)</span></li>
                    <!-- <li>全职<span class="lang-desc"></span></li> -->
                    <li>10k-15k <span class="lang-desc">(税前)</span></li>
                    <li>随时可到岗 <span class="lang-desc"></span></li>
                </ul>
            </div><!--//interests-->
            
        </div><!--//sidebar-wrapper-->
        
        <div class="main-wrapper">
            
            <section class="section summary-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-user"></i></span>自我描述</h2>
                <div class="summary">
                    <div class="item">
                        <span class="project-tagline" style="font-size: 16px;color: #3F4650">本人良好的自学能力,遇到问题就Google,能自己解决的尽量自己解决,不能自己解决的想办法解决以及良好的编程能力和编程习惯,并具备以下相应的专业知识:</span>
                    </div>
                    <div class="details">
                        <p>1.熟练掌握Python，熟悉常用工具包及函数的使用以及多线程,多进程,协程的应用.</p>
                        <p>2.熟练掌握爬虫框架Scrapy&Pyspider的使用,并熟悉对爬虫数据的解析,清洗,结构化以及入库的整个流程,善用xpath解析,了解分布式爬虫和常见的防爬措施的解决方案(包括更换UA,使用代理以及验证码的破解等).</p>
                        <p>3.熟悉HTTP协议,TCP/IP协议以及WSGI协议,熟悉Web框架Django&Flask的使用.</p>
                        <p>4.熟悉Mysql,Mongo,Redis,ES数据库的使用.</p>
                        <p>5.熟悉HTML/JavaScript/CSS/等Web技知识.</p>
                        <p>6.熟悉Git的相应工作流以及Linux系统常用操作命令.</p>
                    </div>
                </div><!--//summary-->
            </section><!--//section-->
            
            <section class="section experiences-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-briefcase"></i></span>工作经历</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="company">杭州有数金融服务有限公司</h3>
                            <div class="time">2017.03 - 2018.06</div>
                        </div><!--//upper-row-->
                        <div class="position">Python研发工程师</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>1.负责公司司法业务相关数据的采集工作(Scrapy+Pyspider),采集了包括裁判文书,执行信息,开庭公告,法院公告等上百个网站的数据;</p>  
                        <p>2.负责公司爬虫平台的前端(Vue)页面开发和后端(Django)部分功能实现工作;</p>
                        <p>3.负责为公司其他部门获取实时数据程序提供接口和脚本的工作;</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="company">浙江碳银互联网科技有限公司</h3>
                            <div class="time">2014.07 - 2017.02</div>
                        </div><!--//upper-row-->
                        <div class="position">产品助理和数据采集员</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>1.协助产品经理解决日常的产品相关的工作;</p>  
                        <p>2.由于工作之中有大量的收集环保新闻数据的需求,利用工作之余自学Python,利用Scrapy爬取了相关网站的相关数据,避免了重复性工作;</p>
                    </div><!--//details-->
                </div><!--//item-->
                                
            </section><!--//section-->
            
            <section class="section projects-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-archive"></i></span>项目经验</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="company">司法相关的各网站以及其他网站的数据采集</h3>
                            <div class="time">2017.03 - 2018.06</div>
                        </div><!--//upper-row-->
                        <div class="position">负责数据采集的代码开发工作</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>1.裁判文书数据采集:在网页版防爬措施比较严重的情况下,转而爬取了对应App端的数据,大大的提升了效率,在维护的过程中,后期发现App端对返回的数据进行了加密,后无意间通过尝试,发现删除一个参数可以跳过加密返回正确的结果.</p>  
                        <p>2.被执行人信息采集:通过名单来查询相应的信息,由于该网站需要处理验证码,起初使用一个验证码查询一个名单,整个流程打码费用太过昂贵,后不断优化,采用Rabbitmq队列来处理爬取过程中产生的消息队列,通过对消息进行派发并具体处理,并配合多线程完成了整个爬取过程,比未使用之前效率提升了很多,而且打码费用也相应的减少了很多(一个验证码查询500-600个左右名单).</p>
                        <p>3.限制高消费信息采集:最后返回的详情信息是Base64加密的数据,原以为通过普通解密就能得到最后的内容,后发现不能,最后通过观察,发现解密后的二进制进行存储为PDF文件,最后通过提取文件内容就能得到最后需要的信息.</p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="company">公司的爬虫平台开发</h3>
                            <div class="time">2018.02 - 2018.04</div>
                        </div><!--//upper-row-->
                        <div class="position">负责部分前端页面开发和后端功能代码开发工作</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>1.该平台集成了Pyspider爬虫框架,使用了Kafka服务来处理所有爬虫项目的消息队列的产生及消费,并利用Elasticsearch作为数据库来存储最后的数据,通过整个平台可以监控到公司所有爬虫项目的运行状态;</p>  
                        <p>2.在整个项目过程中,我使用了Vue进行了前端部分页面的开发,并处理与后台接口进行数据交互,提供数据展示功能相关事项,也参与了使用Django进行了后端的部分功能的开发工作;</p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="company">利用Flask和Bootstrap开发的响应式个人网站</h3>
                            <div class="time">2017.06 - 2018.07</div>
                        </div><!--//upper-row-->
                        <div class="position">负责所有代码的开发工作</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>1.整个网站有首页,简历,实时小说,随机代理和验证码识别几个模块,其中首页模块提供了介绍各个模块的基本信息功能;实时小说模块主要提供小说最新更新的章节,用于实时免费查看小说最新内容;随机代理模块提供了获取一个从自己通过Redis维护的代理池中取得的一个代理,并可以验证代理的可用性,如果可用可以得到相应的代理信息;验证码识别模块提供了使用tensorflow训练了一个识别验证码的模型,进而可以对相应格式的验证码进行破解的一个功能(主要是对机器学习对验证码破解的一个尝试).</p>  
                        <p>2.整个网站开发使用了MVC模式,通常控制器负责从视图读取数据，控制用户输入，并向模型发送数据来实现了整个网站的基本功能.</p>
                        <p>3.整个网站各个模块都使用蓝本进行开发,共有5个蓝本,便于后期整个网站的维护及扩展,网站代码通过Gunicorn部署到服务器121.40.184.36的8080端口,使用Ngnix反向代理,代理到本地的8080端口,之后通过公网地址就可以直接访问应用了.</p>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
            
            <section class="skills-section section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-rocket"></i></span>技能评价</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">Python</h3>
                        <div class="progress level-bar">
                            <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>                               
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Scrapy &amp; Pyspider</h3>
                        <div class="progress level-bar">
                            <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>                                 
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Django &amp; Flask</h3>
                        <div class="progress level-bar">
                            <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>                                 
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">HTML5 &amp; CSS</h3>
                        <div class="progress level-bar">
                                <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>                                
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Javascript &amp; jQuery</h3>
                        <div class="progress level-bar">
                            <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>                              
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Vue</h3>
                        <div class="progress level-bar">
                            <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>                                 
                    </div><!--//item-->
                      
                </div>  
            </section><!--//skills-section-->
            
        </div><!--//main-body-->
    </div>
{% endblock %}

