{% extends "base.html" %}

{% block title %}我的简历{% endblock %}


{% block page_content %}
<div class="page-header">
    <h1>王枫的简历</h1>
</div>

    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <div style="width: 100px;height: 100px;margin: 0 auto;">
                    <img class="profile" style="width: 100%;height: 100%;" src="{{ url_for('static', filename='profile.png') }}" alt="">
                </div>
                <h1 class="name">王枫</h1>
                <h3 class="tagline">充满好奇与热情的Python研发工程师</h3>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="phone"><i class="fas fa-info-circle"></i><span>男 / 1991 / 本科</span></li>
                    <li class="phone"><i class="fas fa-phone"></i><span>17682303763</span></li>
                    <li class="email"><i class="fas fa-envelope"></i><span>liushahedi@gmail.com</span></li>
                    <li class="website"><i class="fas fa-globe"></i><a href="http://121.40.184.36" target="_blank">121.40.184.36</a></li>
                    <li class="github"><i class="fab fa-github"></i><a href="https://github.com/AlphaFF" target="_blank">github.com/AlphaFF</a></li>
                </ul>
            </div><!--//contact-container-->
            <div class="education-container container-block">
                <h2 class="container-block-title">教育经历</h2>
                <div class="item">
                    <h4 class="degree">中国地质大学</h4>
                    <h5 class="meta">工业设计</h5>
                    <div class="time">2010 - 2014</div>
                </div><!--//item-->
            </div><!--//education-container-->
            
            <div class="languages-container container-block">
                <h2 class="container-block-title">求职意向</h2>
                <ul class="list-unstyled interests-list">
                    <li>Python研发工程师<span class="lang-desc">(全职)</span></li>
                    <!-- <li>全职<span class="lang-desc"></span></li> -->
                    <li>10k-15k <span class="lang-desc">(税前)</span></li>
                    <li>随时可到岗 <span class="lang-desc"></span></li>
                </ul>
            </div><!--//interests-->
            
        </div><!--//sidebar-wrapper-->
        
        <div class="main-wrapper">
            
            <section class="section summary-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-user"></i></span>自我描述</h2>
                <div class="summary">
                    <div class="item">
                        <span class="project-tagline" style="font-size: 16px;color: #3F4650">本人工作认真细致踏实,学习能力强,有想法并具备独立思考、独立学习、抗压以及较好的沟通能力和团队合作能力以及良好的编程能力和编程习惯,并具备以下相应的专业知识:</span>
                    </div>
                    <div class="details">
                        <p>1.熟练掌握Python，熟悉常用工具包及函数的使用以及多线程,多进程,协程的应用.</p>
                        <p>2.熟练掌握爬虫框架Scrapy&amp;Pyspider的使用,并了解常见的防爬措施的解决方案(包括验证码的破解).</p>
                        <p>3.熟悉Web框架Django&amp;Flask的使用.</p>
                        <p>4.熟悉Mysql,Mongo,Redis,ES数据库的使用.</p>
                        <p>5.熟悉HTML/JavaScript/CSS/等Web技知识.</p>
                        <p>6.熟悉Git的相应工作流以及Linux系统常用操作命令.</p>
                    </div>
                </div><!--//summary-->
            </section><!--//section-->
            
            <section class="section experiences-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-briefcase"></i></span>工作经历</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="company">杭州有数金融服务有限公司</h3>
                            <div class="time">2017.03 - 2018.06</div>
                        </div><!--//upper-row-->
                        <div class="position">Python研发工程师</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>1.负责公司司法业务相关数据以及其他数据的采集工作(Scrapy+Pyspider);</p>  
                        <p>2.负责公司爬虫平台的前端(Vue)页面工作和后端(Django)部分功能实现工作;</p>
                        <p>3.负责为公司其他部门获取实时数据程序提供接口和脚本的工作;</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="company">浙江碳银互联网科技有限公司</h3>
                            <div class="time">2014.07 - 2017.02</div>
                        </div><!--//upper-row-->
                        <div class="position">产品助理和数据采集员</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>1.协助产品经理解决日常的产品相关的工作;</p>  
                        <p>2.由于工作之中有大量的收集环保新闻数据的需求,利用工作之余自学Python,利用Scrapy爬取了相关网站的相关数据,避免了重复性工作;</p>
                    </div><!--//details-->
                </div><!--//item-->
                                
            </section><!--//section-->
            
            <section class="section projects-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-archive"></i></span>项目经验</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="company">司法相关的各网站以及其他网站的数据采集</h3>
                            <div class="time">2017.03 - 2018.06</div>
                        </div><!--//upper-row-->
                        <div class="position">负责数据采集的代码开发工作</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>1.利用Pyspider爬虫框架采集与司法有关的各网站数据,包括裁判文书,执行信息,开庭公告,法院公告等近百个网站的数据,并对不同类型的数据根据不同的规则进行解析(xpath),清洗,入库(es)操作;</p>  
                        <p>2.保证各个网站的数据全量爬取正常以及维护各个网站增量数据正常更新;</p>
                        <p>3.利用Scrapy进行一些其他数据的采集;</p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="company">集成Pyspider框架和Kafka消息队列的爬虫平台开发</h3>
                            <div class="time">2018.02 - 2018.04</div>
                        </div><!--//upper-row-->
                        <div class="position">负责部分前端页面开发和后端功能代码开发工作</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>1.该平台集成了pyspider爬虫框架,使用了kafka服务来处理所有爬虫项目的消息队列的产生及消费,从而监控到公司所有爬虫项目的运行状态;</p>  
                        <p>2.使用了Vue进行爬虫平台的监控功能的前端页面开发,以及与后台数据接口进行数据交互,提供数据展示功能;</p>
                        <p>3.使用Django进行了后端的部分开发工作;</p>
                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="company">利用Flask和Bootstrap开发的响应式个人网站</h3>
                            <div class="time">2017.06 - 2018.07</div>
                        </div><!--//upper-row-->
                        <div class="position">负责所有代码的开发工作</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>1.利用爬虫实时爬取小说最新的章节,便于实时查看小说的更新状态;</p>  
                        <p>2.利用redis维护了一个代理池,并可以随机取出一条代理并测试代理的可用性;</p>
                        <p>3.使用tensorflow训练了一个识别验证码的模型,进而可以对相应格式的验证码进行破解;</p>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
            
            <section class="skills-section section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-rocket"></i></span>技能评价</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">Python</h3>
                        <div class="progress level-bar">
                            <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>                               
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Scrapy &amp; Pyspider</h3>
                        <div class="progress level-bar">
                            <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>                                 
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Django &amp; Flask</h3>
                        <div class="progress level-bar">
                            <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>                                 
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">HTML5 &amp; CSS</h3>
                        <div class="progress level-bar">
                                <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>                                
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Javascript &amp; jQuery</h3>
                        <div class="progress level-bar">
                            <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>                              
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Vue</h3>
                        <div class="progress level-bar">
                            <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>                                 
                    </div><!--//item-->
                      
                </div>  
            </section><!--//skills-section-->
            
        </div><!--//main-body-->
    </div>
{% endblock %}

