{% extends "base.html" %}

{% block title %}简历{% endblock %}


{% block page_content %}
<div class="page-header">
    <h1>我的简历</h1>
</div>

<section id="main">
  <header id="title">
    <h1>王枫</h1>
    <span class="subtitle">充满好奇与热情的Python研发工程师</span>
  </header>
  <section class="main-block">
    <h2>
      <i class="fa fa-info-circle"></i> 个人信息
    </h2>
    <section class="blocks">
      <div class="date">
      </div>
      <div class="decorator">
      </div>
      <div class="details">
        <header>
          <span class="place">基本信息:   </span>
          <h3>王枫 / 男 / 1991</h3>
        </header>
      </div>
    </section>
    <section class="blocks">
      <div class="date">
      </div>
      <div class="decorator">
      </div>
      <div class="details">
        <header>
          <span class="place">教育信息:   </span>
          <h3>中国地质大学(武汉) / 本科 / 工业设计 / 2010级</h3>
        </header>
      </div>
    </section>
    <section class="blocks">
      <div class="date">
      </div>
      <div class="decorator">
      </div>
      <div class="details">
        <header>
          <span class="place">工作年限:   </span>
          <h3>4年</h3>
        </header>
      </div>
    </section>
    <section class="blocks">
      <div class="date">
      </div>
      <div class="decorator">
      </div>
      <div class="details">
        <header>
          <span class="place">期望职位:   </span>
          <h3>Python研发工程师(爬虫和web方向)</h3>
        </header>
      </div>
    </section>
    <section class="blocks">
      <div class="date">
      </div>
      <div class="decorator">
      </div>
      <div class="details">
        <header>
          <span class="place">期望薪资:   </span>
          <h3>税前13k-16k</h3>
        </header>
      </div>
    </section>
  </section>
  <section class="main-block">
    <h2>
      <i class="fa fa-phone"></i> 联系方式
    </h2>
    <section class="blocks">
      <div class="date">
      </div>
      <div class="decorator">
      </div>
      <div class="details">
        <header>
          <span class="place">手机:   </span>
          <h3>17098075433</h3>
        </header>
      </div>
    </section>
    <section class="blocks">
      <div class="date">
      </div>
      <div class="decorator">
      </div>
      <div class="details">
        <header>
          <span class="place">邮箱:</span>
          <h3>liushahedi@gmail.com</h3>
        </header>
      </div>
    </section>
  </section>
  <section class="main-block">
    <h2>
      <i class="fa fa-suitcase"></i> 工作经历
    </h2>
    <section class="blocks">
      <div class="date">
        <span>2017.3</span><span>2018.6</span>
      </div>
      <div class="decorator">
      </div>
      <div class="details">
        <header>
          <h3>杭州有数金融服务有限公司</h3>
          <span class="place">1</span>
          <span class="location">浙江,杭州</span>
        </header>
        <div>
          <ul>
            <li>负责公司司法业务相关数据的采集工作(scrapy+pyspider);</li>
            <li>负责公司爬虫平台的前端(vue)页面工作和后端(django)部分功能实现工作;</li>
            <li>负责为公司其他部门获取实时数据程序提供接口和脚本的其他工作;</li>
          </ul>
          </div>
      </div>
    </section>
    <section class="blocks">
      <div class="date">
        <span>2014.7</span><span>2017.2</span>
      </div>
      <div class="decorator">
      </div>
      <div class="details">
        <header>
          <h3>浙江碳银互联网科技有限公司</h3>
          <span class="place">产品助理和数据采集员</span>
          <span class="location">浙江, 杭州</span>
        </header>
        <div>
          <ul>
            <li>协助产品经理解决日常的产品相关的工作;</li>
            <li>由于工作之中有大量的收集环保新闻数据的需求,利用工作之余自学python,利用scrapy爬取了相关网站的相关数据,避免了人为的重复性工作;</li>
          </ul>
        </div>
      </div>
    </section>
  </section>
  <section class="main-block">
    <h2>
      <i class="fa fa-folder-open"></i> 项目经历
    </h2>
    <section class="blocks">
      <div class="date">
        <span>2017.3</span><span>2018.6</span>
      </div>
      <div class="decorator">
      </div>
      <div class="details">
        <header>
          <h3>司法相关的各网站以及其他网站数据的采集</h3>
          <span class="place">Some workplace</span>
        </header>
        <div>
          <ul>
            <li>利用pyspider爬虫框架采集与司法有关的各网站数据,包括裁判文书,执行信息,开庭公告,法院公告等;</li>
            <li>将不同网站不同类型的数据根据不同的规则进行解析(xpath),清洗,入库(es)操作;</li>
            <li>保证各个网站的数据全量爬取正常以及维护各个网站增量数据正常更新;</li>
            <li>利用scrapy进行一些其他网站数据的采集;</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="blocks">
      <div class="date">
        <span>2014</span><span>2015</span>
      </div>
      <div class="decorator">
      </div>
      <div class="details">
        <header>
          <h3>集成pyspider框架和kafka消息队列的爬虫平台开发</h3>
          <span class="place">负责部分前端页面开发和后端功能代码开发工作</span>
        </header>
        <div>
          <ul>
            <li>该平台集成了pyspider爬虫框架,使用了kafka服务来处理所有爬虫项目的消息队列的产生及消费,从而监控到公司所有爬虫项目的运行状态;</li>
            <li>使用了Vue进行爬虫平台的监控功能的前端页面开发,以及与后台数据接口进行数据交互,提供数据展示功能;</li>
            <li>使用Django进行了后端的部分开发工作;</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="blocks">
      <div class="date">
        <span>2014</span>
      </div>
      <div class="decorator">
      </div>
      <div class="details">
        <header>
          <h3>Some Project 3</h3>
          <span class="place">Some workplace</span>
        </header>
        <div>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec mi ante. Etiam odio eros, placerat eu metus id, gravida eleifend odio</li>
          </ul>
        </div>
      </div>
    </section>
  </section>
</section>
{% endblock %}